<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%
accomplishment_course_title =  accomplishment_copy_course_name
if certificate_data and certificate_data.get('course_title', ''):
    accomplishment_course_title =  certificate_data.get('course_title', '')
course_mode_class = course_mode if course_mode else ''
%>

<main class="accomplishment accomplishment-main" style="border: 0px">

    <div class="wrapper-accomplishment-rendering" style="border: 0px">
        <div class="accomplishment-rendering" style='height: 800px; background-image:url("/static/images/Diploma.png"); background-repeat: no-repeat; border: 2px; border-style: solid; border-color: #000"'>
            <div class="accomplishment-type;" style="vertical-align: top;" style="border: 0px">
                <span class="accomplishment-type-symbol">
                    <img class="src" src="/static/certificates/images/ico-${course_mode_class}.png" alt="">
                </span>

                <span class="accomplishment-type-label hd-4" style="padding-top:30px"></span>
            </div>

            <div class="wrapper-statement-and-signatories" style="border: 0px">
                <div class="accomplishment-statement" style="margin-bottom: 0px; padding-bottom: 0px; border: 0px; padding-top: 60px;">
                    <div class="accomplishment-statement-lead">
                        <strong class="accomplishment-recipient hd-1 emphasized"> Diplom&#259; de promovare <br /> ${accomplishment_copy_name} <hr style="width:50%"/> ${accomplishment_copy_course_name} </strong>
                        <span class="accomplishment-summary copy copy-lead" style="border: 0px">${accomplishment_copy_description_full | n}</span>
                    </div>

                </div>
                % if mode != 'base':

                <div class="accomplishment-signatories" style="border: 0px; padding-top: 50px;">

                    <div class="wrapper-signatories" style="border: 0px">
                        <div class="list-signatories" style="border: 0px">
                            % if certificate_data:
                                <table width="100%" style="border: 0px">
                                % for signatory in certificate_data.get('signatories', []):
                                <tr><td><br /><br />Data eliberarii:&nbsp; &nbsp; ${certificate_date_issued}</td><td style="vertical-align:top">${signatory['name']}, &nbsp; ${signatory['title']}</td></tr>
                                % endfor
                                </table>
                            % endif
                        </div>
                    </div>
                </div>

             % endif
            </div>
    </div>
    <div class="wrapper-accomplishment-metadata">
        <div class="accomplishment-metadata">
            <h2 class="accomplishment-metadata-title hd-6">${accomplishment_copy_more_about}</h2>

            <div class="wrapper-metadata">
                <dl class="metadata accomplishment-recipient">
                    <dt class="label sr-only">Awarded to:</dt>
                    <dd class="value copy copy-meta">
                        <span class="recipient-img">
                            <img class="src" src="/static/certificates/images/demo-user-profile.png" alt="">
                        </span>
                        <div class="recipient-details">
                            <h3 class="recipient-name">${accomplishment_copy_name}</h3>
                            <p class="recipient-username">${accomplishment_copy_username} @ Telecom Academy</p>
                        </div>
                    </dd>
                </dl>
                <dl class="metadata accomplishment-id">
                    <dt class="label copy copy-meta">Acest link poate fi trimis catre terti (angajatori, colaboratori etc) pentru verificarea validitatii certificatului obtinut in urma promovarii cursului:</dt>
                    <dd class="value copy copy-base"><a href="https://cursuri.telacad.ro/certificates/${certificate_id_number}">https://cursuri.telacad.ro/certificates/${certificate_id_number}</a></dd>
                </dl>
            </div>
        </div>
    </div>

</main>
