{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                Ai fost înrolat în cursul  {{ course_name }}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                <br /><br /> Bună, <br /><br />
                Vești bune! Cursul tău {{ course_name }} este aici!
                Ne face plăcere să te anunțăm că tocmai ai fost înrolat în cursul {{ course_name }} pe cursuri.telacad.ro.
                Acest curs va apărea în dashboard-ul tău de pe cursuri.telacad.ro.
                Tot ce mai rămâne de făcut este să dai click pe linkul de mai jos și să te apuci de studiu.
                <br />
            </p>

            {% filter force_escape %}
                {% blocktrans asvar course_cta_text %}Access the Course Materials Now{% endblocktrans %}
            {% endfilter %}
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_cta_text course_cta_url=course_url %}


        </td>
    </tr>
</table>
{% endblock %}
